@font-face {
  font-family: 'Graphik';
  font-weight: normal;
  src: url("/fonts/graphik/Graphik-Regular.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/graphik/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/graphik/Graphik-Regular.woff") format("woff"), url("/fonts/graphik/Graphik-Regular.ttf") format("truetype"), url("/fonts/graphik/Graphik-Regular.svg#Graphik-Regular") format("svg");
  /* Legacy iOS */
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Graphik';
  font-weight: 200;
  src: url("/fonts/graphik/Graphik-Medium.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/graphik/Graphik-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/graphik/Graphik-Medium.woff") format("woff"), url("/fonts/graphik/Graphik-Medium.ttf") format("truetype"), url("/fonts/graphik/Graphik-Medium.svg#Graphik-Medium") format("svg");
  /* Legacy iOS */
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Product Sans';
  font-weight: normal;
  src: url("/fonts/Product Sans Regular.ttf"); }
@font-face {
  font-family: 'Product Sans';
  font-weight: bold;
  src: url("/fonts/Product Sans Bold.ttf"); }
body {
  font-family: "Product Sans";
  font-weight: normal;
  color: white; }

#menu-overlay {
  /* position: fixed;
  background: black;
  height: 0%;
  width: 100%;
  top: 0%;
  z-index: 50;
  transition: 0.5s; */
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 700;
  top: 0;
  left: 0;
  /* background-color: rgb(238, 226, 203); */
  background: whitesmoke;
  /* background-color: rgba(0.5,0.5,0.7, 0.9); */
  /* opacity: 0.93; */
  overflow-y: hidden;
  transition: 0.5s; }

#menu-overlay .menu-content {
  /* position: relative;
  color: white;
  font-size: 90px;
  text-transform: uppercase;
  font-family: "Product Sans Bold";
  left: 10%;
  top: 18%;
  height: 200px;
  opacity: 0; */
  position: relative;
  top: 19%;
  /* width: 100%; */
  left: -1.6%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.582); }

.menu-content div {
  margin-bottom: 25px; }

.menu-content a {
  color: rgba(0, 0, 0, 0.582);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s; }

.menu-content a:hover {
  color: #303030;
  transition: 0.5s; }

#nav {
  position: fixed;
  /* left: 0%; */
  z-index: 1000;
  height: 7%;
  width: 100%;
  padding-top: 20px;
  /* background: black; */ }

.logo {
  height: 170px;
  width: 170px;
  float: left;
  background-image: url("/img/logo-2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: -55px;
  margin-left: -35px;
  cursor: pointer;
  margin-left: 30px; }

.hamburger-menu {
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: 3px;
  cursor: pointer; }

#bar1, #bar2, #bar3 {
  height: 1px;
  background-color: black;
  background-color: #bdbdbd; }

#bar1 {
  width: 47px;
  background-color: blac;
  margin-top: 6px;
  transition: 0.4s; }

#bar2 {
  width: 33px;
  transition: 0.4s; }

#bar3 {
  width: 21px;
  transition: 0.4s; }

#bar2, #bar3 {
  margin-top: 8px; }

.change #bar1 {
  background-color: black;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change #bar2 {
  opacity: 0;
  background-color: black; }

.change #bar3 {
  background-color: black;
  width: 47px;
  -webkit-transform: rotate(80deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

.profile-image {
  height: 600px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.profile-image-teme {
  background-image: url("/img/Teme Banigo 2.jpg"); }

.profile-image-nini {
  background-image: url("/img/Niniola Ukaria 2.jpg"); }

.profile-image-abdul {
  background-image: url("/img/Abdul Sheidu 1.jpg"); }

.profile-image-charles {
  background-image: url("/img/Charles Arong.jpg"); }

.profile-image-debola {
  background-image: url("/img/Debola Sheidu.jpeg"); }

.profile-image-akin {
  background-image: url("/img/Akin Sanda 1.jpg"); }

#team-profiles {
  padding-top: 170px;
  color: black;
  margin-bottom: 100px;
  display: none; }

.member-name {
  font-weight: normal;
  font-size: 38px; }

.profile-text-area {
  padding-left: 50px;
  padding-top: 25px; }

.long-text {
  padding-top: 30px;
  font-size: 17px;
  font-family: 'Graphik';
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 60px; }

.text-highlight {
  color: #3666e9; }

.text-bold {
  font-family: 'Graphik';
  font-weight: 200; }

#profile-teme, #profile-nini, #profile-abdul, #profile-charles, #profile-debola {
  display: none; }

.social-links .line {
  background: rgba(0, 0, 255, 0.582);
  height: 10px;
  width: 170px; }
.social-links a {
  margin-right: 10px;
  text-decoration: none; }
.social-links .width-100 {
  width: 100px; }
.social-links .width-50 {
  width: 50px; }

@media screen and (max-width: 480px) {
  .profile-text-area {
    padding-left: 0px; } }

/*# sourceMappingURL=team-profiles.css.map */
